#main-nav {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 9999;

}
#main-nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: white;
}