#main-nav {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 9999;

}
#main-nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: white;
}
.friendArticles {
    font-style: italic;
    background-color: cornsilk
}
.friendEvent {
    background-color: cornsilk;
}

#main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
}

#friends-section{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#tasks-and-events{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 25px;
}

#messages-and-articles{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 25px;
    max-width: 40%;
}